<!DOCTYPE html>
<html>
<head>
  <title>nge-TRIP</title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div class="navigation">
    <ul>
      <li>
        <form action="/" method="GET">
          <input type="submit" value="Beranda">
        </form>
      </li>
      <li id="logo">nge-Trip</li>
      <li>
        <form action="/post" method="POST">
          <input type="submit" value="Daftar Postingan">
        </form>
      </li>
    </ul>
  </div>

  <div class="create_post">
    <div class="products">
      <div class="form-style-6">
      <p class="text_update">Edit Tempat</p>
      <form method="post" enctype="multipart/form-data" action="/places/edit/<%- id%>">
      <input type="text" name="placeName" placeholder="Nama Tempat" value="<%- dataPlace.placeName%>"/>
      <textarea name="description" placeholder="Masukkan deskripsi topik anda"><%- dataPlace.description%></textarea>
      <label for="file">Input file:</label>
      <input type="file" name="urlPath">
      <input type="submit"name="sumbit" value="Edit" />
      </form>
      </div>
    </div>
  </div>

  <h3>Mari bersama-sama memajukan sektor pariwisata Indonesia</h3>

</body>
</html>